@import "tailwindcss";

.nav-link {
  @apply text-gray-700 hover:text-pink-500 transition relative;
}

.nav-link::after {
  content: "";
  @apply absolute bottom-0 left-0 w-0 h-0.5 bg-pink-500 transition-all duration-300;
}

.nav-link:hover::after {
  @apply w-full;
}
@keyframes dividerExpand {
  0% {
    width: 0%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
    transform: translateX(-50%);
  }
}

.divider-line {
  width: 0%;
  transform: translateX(-50%);
  animation: none;
  transition: width 0.5s ease;
}

.divider-line.animate {
  animation: dividerExpand 1.2s ease-out forwards;
}
